Package: h0
Version: 1.0.0-1
Architecture: all
Maintainer: Yianni Mitropoulos <you@example.com>
Installed-Size: 26
Depends: bash
Section: utils
Priority: optional
Homepage: https://example.com
Description: Hero to Zero Utilities Pack
 A collection of scripts installed as h0-* commands.
 Designed for use with QubesOS.
