Source: h0
Section: utils
Priority: optional
Maintainer: Yianni Mitropoulos <you@example.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Homepage: https://example.com
Rules-Requires-Root: no

Package: h0
Architecture: all
Depends: bash, ${misc:Depends}
Description: Hero to Zero Utilities Pack
 A collection of scripts installed as h0-* commands.
 Designed for use with QubesOS.